streamlit
langchain
langchain-classic
langchain-community
langchain-openai
langchain-mistralai
langchain-google-genai
langchain-huggingface
langchain-chroma
pysqlite3-binary
sentence-transformers
pypdf
protobuf